* {
    font-family: 'Lora', serif;

  /* Setting Box Model */
    box-sizing: border-box;
}

body {

  /* Background Visual */
    background: url(./Assets/Images/bg-image.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    height: 100%;
  }

  footer {
    position :fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 40px;
    background-color: #333;
    border-top: 4px solid #C3A9A9;
    text-align: center;
    color: rgb(219, 219, 219);
  }

  #about-me {
    /* positioning */
    padding: 30px;
    float: left;
  
    /* visual */
    background: rgb(219, 219, 219);
    color: rgb(117, 42, 117);
  }

  .container {
    width: 100%;
  }

  .row {
    /* Box-model */
    width: 750px;
    float: left;
    
    /* Positioning */
    margin: 3rem auto;
  
  }
  
  /* profile picture styling */
  .profile-pic {
    width: 25%;
    height: auto;
    border-style: groove;
    float: left;
    margin: auto 15px;
  }

  /* Rules that take effect when the browser's width switches between 400, 768, 992 */

  /* Device screen larger than 992px */
  @media screen and (min-width: 992px) {
    .container {
      width: 450px;
    }
  }

    /* Device screen larger than 768px */
    @media screen and (min-width: 768px) {
      .container {
        width: 280px;
      }
    }

      /* Device screen larger than 400px */
  @media screen and (min-width: 400px) {
    .container {
      width: 90%;
      margin: 2em;
    }
  }