* {
    font-family: 'Lora', serif;
}

body {

  /* Background Visual */
    background: url(./Assets/Images/bg-image.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    height: 100%;
  }

  footer {
    position :fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 40px;
    background-color: #333;
    border-top: 4px solid #C3A9A9;
    text-align: center;
    color: rgb(219, 219, 219);
  }

  #about-me {
    /* positioning */
    padding: 35px;
    float: left;
  
    /* visual */
    background: rgb(219, 219, 219);
    color: rgb(117, 42, 117);
  
  }

  .container {
    margin: 0 auto;
  }

  .row {
    margin: 3rem 5px;
  
  }
  
  /* profile picture styling */
  .profile-pic {
    width: 140px;
    height: auto;
    border-style: groove;
    float: left;
    margin: auto 15px;
  
  }
